{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}" />
{% endblock %}
{% block title %}
<title>TuniCompare</title>
{% endblock %}

{% block hero_description %}
  <p class="hero-description">
          Your product comparison platform for Tunisia. Compare prices,
          features, and reviews to make informed shopping decisions.
    </p>
    <a href="#shop" class="hero-btn">Start Shopping</a>
{% endblock %}

{% block hero_image %}
  <img src="{{ url_for('static', filename='Resources/Home-Hero-Image.jpg') }}" alt="Hero Image" class="hero-img" />
{% endblock %}

{% block products %}
  <section class="products" id="shop">
      <h2 class="featured-products-title">Featured Products</h2>
      <ul id="featured-list" class="featured-list">
        <!-- Product items will be dynamically inserted here -->
        <script>
          const laptopsJsonUrl = "{{ url_for('static', filename='Resources/JSON/laptops.json') }}";
        </script>
        <script src="{{ url_for('static', filename='JS/home-featured-list.js') }}"></script>
      </ul>
    </section>
    <section class="Shop" id="shop">
      <h2 class="Shop-title">Shop</h2>
      <ul id="product-list" class="shop-list">
        <li id="laptop" class="shop-item">
          <a href="{{ url_for('shop_laptop') }}" class="shop-item-link">
            <img
              src="{{ url_for('static', filename='Resources/Laptop-Hero.png') }}"
              alt="Laptop"
              class="shop-hero-img"
            />
            <h3 class="shop-product-title">Gaming Laptops</h3>
          </a>
        </li>
        <li id="desktop" class="shop-item">
          <a href="{{ url_for('shop_desktop') }}" class="shop-item-link">
            <img
              src="{{ url_for('static', filename='Resources/Desktop-Hero.png') }}"
              alt="Desktop"
              class="shop-hero-img"
            />
            <h3 class="shop-product-title">Gaming Desktops</h3>
          </a>
        </li>
        <li id="screen" class="shop-item">
          <a href="{{ url_for('shop_screen') }}" class="shop-item-link">
            <img
              src="{{ url_for('static', filename='Resources/Screen-Hero.png') }}"
              alt="Screen"
              class="shop-hero-img"
            />
            <h3 class="shop-product-title">Gaming Screens</h3>
          </a>
        </li>
      </ul>
    </section>
{% endblock %}    


